PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server=172.19.39.18
ServerActive=172.19.39.18
HostMetadata={{ hostmetadata }}
Include=/etc/zabbix/zabbix_agentd.d/*.conf